serverless functions
	. POST /requests
	. PUT/PATCH /requests/{id}
	. GET /requests
	. GET /requests/{id}
dynamodb
s3 for file storage (expiry?). MVP?
frontend hosted on github
	. submit a request
		. MVP: hard-code dropdown values
	. view/edit requests
  . Genesys Cloud Authentication (implicit grant) + GET /me to populate user data. Check if user is member of CCC group in his region
