.overlay {
  position: absolute;
  left: 46%;
  top: 42%;
  height: 12em;
  z-index: 99;
  opacity: 20%;
}

.jsgrid-cell {
  word-wrap: break-word;
}

.task-accepted td:first-child + td {
  background-color: lightgreen !important;
}

.task-rejected td:first-child + td {
  background-color: lightcoral !important;
  opacity: 1;
}

.task-hidden td {
  display: none;
}

.task-wait td:first-child + td {
  background-color: orange !important;
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 16px;
  height: 22px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 9px 10px 9px 14px;
}

.video-play-button:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
  background: #ff4f1f;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
  background: #ff4f1f;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(#fa183d, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 16px solid #fff;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #fa183d;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.select2-container .select2-selection--single {
  height: 38px !important;
  border-left: 1px solid #ced4da !important;
  border-right: 1px solid #ced4da !important;
  border-top: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
  width: max-content;
}

.filter-buttons-container {
  height: 50px;
}

.filter-sidebar-collapsed {
  width: 55px;
  overflow: hidden;
  padding: 10px;
}

.filter-sidebar-expanded {
  width: 300px;
  overflow: hidden;
  padding: 10px;
}

.filter-sidebar-button {
  margin-bottom: 10px;
  display: none;
}

.filter-sidebar-addon {
  width: 100%;
  height: calc(100% - 110px);
  display: none;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.filter-sidebar-addon-vertical-info {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  width: 35px;
  line-height: 35px;
  margin-top: 10px;
  display: none;
  /* hidden by default */
  font-weight: 400;
  color: #bbbbbb;
}

.notes-history {
  border: 1px solid #ced4da;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 5px;
  font-size: 0.9rem;
  background-color: #e9ecef;
  min-height: 50px;
}

.notes-timestamp {
  margin-top: 8px;
  opacity: 0.5;
  font-size: 0.7rem;
}

.notes-content {
  margin-top: 1px;
}

.notes-txt-add-note {
  border-radius: 0 0 0.25rem 0.25rem;
}

.right {
  text-align: right;
}

.select2-selection--single {
  width: 100% !important;
}

.clickable-icon-wrapper {
  line-height: 1.2rem;
}

.clickable-icon {
  color: darkred;
  cursor: pointer;
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  from {
    font-size: 1.2rem;
    opacity: 1;
  }
  to {
    font-size: 1.1rem;
    opacity: 0.6;
  }
}
